
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    padding: 0 20px;
  }
  
  .container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }

  .weather-container {
    margin:10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .weather-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .loading,
  .error {
    font-size: 1.2rem;
    color: #e74c3c;
    margin-top: 20px;
  }
  
  .error {
    font-weight: bold;
  }
  
  .success {
    font-size: 1.2rem;
    color: #27ae60;
  }
  
 
  